Checks: "-*,bugprone-*,portability-*,readability-*,performance-*,llvm-*,modernize-*,-modernize-use-trailing-return-type,-readability-identifier-length,-llvm-header-guard,-readability-uppercase-literal-suffix,-readability-magic-numbers,-readability-isolate-declaration,-readability-braces-around-statements,-bugprone-narrowing-conversions"
# HeaderFilterRegex: '^./.*\.(cpp|h|hpp|c|cc)$'
# ExcludeHeaderFilterRegex: '(tools|wm|ImGuiFileDialog|\.git|tests|build|\.github|editor/include/bindings).*'
# ExcludeHeaderFilterRegex: "!/Users/stasangoliuk/Desktop/cosmo/editor/src/shared/file-picker.cpp"
CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: 1
  - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
    value: WinMain,SDL_main
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
  - key: readability-identifier-naming.NamespaceCase
    value: camelBack
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: modernize-use-auto
    value: "auto"
FormatStyle: "file"
WarningsAsErrors: "*"
