.DS_Store
Thumbs.db

CMakeUserPresets.json
compile_commands.json

.vscode/c_cpp_properties.json
.vscode/settings.json


*.log
*.app
*.exe
*.war
*.zip
*-autosave.kra
*.dll
conan-deploy

[Bb]in/
[Oo]bj/
[Bb]uild/
[Tt]emp/
[Tt]mp/
[Ll]ogs/
[Rr]eleases/

emcc-cache
/.cache/
!/.github/**

coverage
imgui.ini
